@font-face {
    font-family:"Raleway Heavy";
    src:url("Raleway-Heavy.eot?") format("eot"),
    url("Raleway-Heavy.woff") format("woff"),
    url("Raleway-Heavy.ttf") format("truetype"),
    url("Raleway-Heavy.svg#Raleway-Heavy") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"Roboto Medium";
    src:url("Roboto-Medium.eot?") format("eot"),
    url("Roboto-Medium.woff") format("woff"),
    url("Roboto-Medium.ttf") format("truetype"),
    url("Roboto-Medium.svg#Roboto-Medium") format("svg");
    font-weight:normal;
    font-style:normal;
}

@font-face {
    font-family:"Roboto Regular";
    src:url("Roboto-Regular.eot?") format("eot"),
    url("Roboto-Regular.woff") format("woff"),
    url("Roboto-Regular.ttf") format("truetype"),
    url("Roboto-Regular.svg#Roboto-Regular") format("svg");
    font-weight:normal;
    font-style:normal;
}


// @font-face {
//     font-family:"Roboto Bold";
//     src:url("DroidSans-Bold.eot?") format("eot"),
//     url("DroidSans-Bold.woff") format("woff"),
//     url("DroidSans-Bold.ttf") format("truetype"),
//     url("DroidSans-Bold.svg#Roboto-Bold") format("svg");
//     font-weight:normal;
//     font-style:normal;
// }